label {
    width: 20px;
    height: 80px;
    background-color: #d1d1d1;
    color: #686666;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 40px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
}
#sideMenu-active:checked + .sideMenu {
    transform: translateX(0);
    label .fas {
        transform: scaleX(-1);
    }
}
#sideMenu-active {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.sideMenu {
    height: 100%;
    border-right: 3px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
    position: relative;
    transform: translateX(-100%);
    transition: 0.5s;
}