{% extends 'Function_2/layer_2-1.html' %}

{% block title %}
    <title>Layer 2-1-1</title>
{% endblock %}

{% block left_bar %}
{% block menuButton %}

{% endblock %}
<div class="sideMenu flex-column bg-secondary-subtle">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-center" href="{{ url_for('function_2_layer_1_layer_1_page_1') }}">Page 2-1-1-1</a>
        </li>
    </ul>
    {% block siteMenu_label %}
    
    {% endblock %}
</div>
{% endblock %}

{% block breadcrumb %}
{{super()}}
<a href="{{ url_for('function_2_layer_1_layer_1') }}">Layer 2-1-1 /</a>
{% endblock %}