{% extends "base.html" %}
{% block left_bar %}
  <div class="sideMenu flex-column bg-secondary-subtle">
      <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-center" href="{{ url_for('function_1') }}">Function 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="{{ url_for('function_2') }}">Function 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="{{ url_for('function_3_page_1') }}">Function 3</a>
          </li>
      </ul>
      {% block siteMenu_label %}
      {% endblock %}
  </div>
{% endblock %}