{% extends 'Function_1/layer.html' %}

{% block title %}
    <title>Layer 1-2</title>
{% endblock %}

{% block left_bar %}
{% block menuButton %}

{% endblock %}
<div class="sideMenu flex-column bg-secondary-subtle">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-center" href="{{ url_for('function_1_layer_2_page_1') }}">Page 2-1</a>
        </li>
    </ul>
    {% block siteMenu_label %}
    
    {% endblock %}
</div>
{% endblock %}

{% block breadcrumb %}
{{super()}}
<a href="{{ url_for('function_1_layer_2') }}">Layer 1-2 /</a>
{% endblock %}